*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
    border: 1px solid wheat;
}
.left-section{
    margin: 10px;
    width: 40vw;
    height: 100%;
}
.right-section{
    margin: 10px;
    width: 40vw;
    height: 100%;
}
.details>img{
    width: 150px;
    border: 1px solid wheat;

}
.details{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.name{
     margin-left: 50px;
     
}
.skills{
    margin-top: 20px;
}

.bar {
    background: #ddd;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.bar div {
    height: 100%;
    background: #007bff;
    border-radius: 4px;
}
.right-section{
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.skill{
    margin-top: 35px;
}
.bar>div>span{
    position: absolute;
    top: -20px; /* Adjust to control distance */
    right: 0; /* Align to right edge */
    font-size: 12px;
    color: #333;
    font-weight: bold;
}
